* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.mobileContainer {
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5%;
}

.container {
    width: 100vw;
    padding: 5.9vw 5.3vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4vw 0;
}

header h1 {
    font-size: 5.6vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header .logo {
    width: 53vw;
   
}
header .arrow
{
    position: absolute;
    cursor: pointer;
    left: 5.3vw;
    width: 3.4vw;
    height: 6vw;
}

.container h3 {
    font-size: 4vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin:0 0 2vw;
}
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form label
{
    font-size: 3.4vw;
    color: rgba(0,0,0,0.7);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.form .rate
{
    border: 1px solid #d8d8d8;
    font-weight: 400;
     width: 100%;
    height: 11.8vw;
    border-radius: 5px;
    outline: none;
    font-size: 3.4vw;
    font-family: 'Montserrat', sans-serif; 
    margin: 2vw 0 3.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9.8vw;
}
.form .rate img
{
    cursor: pointer;
}
.form label
{
    font-family: 'Montserrat', sans-serif; 
    text-align: left;
}
.form label span
{
    color: #00a549;
    font-weight: 600;
}
.form2
{
    flex-direction: row;
    justify-content: space-between;
    
}
.form2 div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form2 input
{
    width: 41vw;
}

.form textarea
{
    height: 36vw!important;
    padding: 5vw;
    border: 1px solid #d8d8d8;
    font-weight: 400;
     width: 100%;
    border-radius: 5px;
    outline: none;
    cursor: text;
    font-size: 3.4vw;
    font-family: 'Montserrat', sans-serif; 
    margin: 2vw 0 3.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greenBtn {
    border: none;
    color: white;
    background-color: #00a549;
    font-weight: 400;
     width: 100%;
    height: 11.8vw;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 3.4vw;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5.9vw;
}
