* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.metScreen
{
    width: 100vw;
    height: 100vh;
    background-image: url(img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 9.8vw 10.5vw;
}
.callNav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.infoBlock
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4.6vw;
}
.navButtons
{
    max-width: 13.7vw;
}
.clientImg
{
    width: 24vw;
}
.logo
{
    width: 47vw;
}